<app-sb-heading [title]="title" [subtitle]="subtitle"></app-sb-heading>

<div class="tool-container">
  <app-sb-textarea [type]="'input'" class="text-area" (event)="childInputText=$event"></app-sb-textarea>
  <div class="button-align">
    <button class="btn" (click)="convert()">JSON TO YAML</button>
  </div>
  <app-sb-textarea [type]="'output'" class="text-area" [parentData]="inputData"></app-sb-textarea>
</div>
<div class="grid-container text-container">
  <div>
    <h2>JSON to YAML Converter</h2>
    <p>
      This is an online tool that converts your JSON format data to YAML data
      format and vice versa. It converts JSON objects into an YAML tree
      structure.
    </p>
    <h2>How to use this JSON TO YAML tool?</h2>
    <p>The tool we designed is easy to use. Kindly follow the below steps.</p>
    <ol>
      <li>Write or paste the JSON code into the input box.</li>
      <li>
        Press the &ldquo;JSON to YAML button&rdquo; to convert the data into YAML.
      </li>
      <li>
        If you want to convert YAML to JSON, click on the &ldquo;YAML to
        JSON&rdquo; button.
      </li>
      <li>
        You can download or copy your result by clicking on the download or copy
        button.
      </li>
    </ol>
    <h2>What is JSON?</h2>
    <p>
      JSON is an open standard file format and data interchange format that uses
      human-readable text to store and transmit data objects consisting of
      attribute–value pairs and arrays.
    </p>
    <p>
      It is a common data format with diverse uses in electronic data
      interchange, including that of web applications with servers.
    </p>
    <p>
      JSON format syntax has been derived from Javascript, but it is a language
      independent.
    </p>
    <p>
      JSON structure consist of object or array of objects , Objects are
      key-value pairs enclosed in inverted commas. Arrays are also data sets
      containing key-value pairs enclosed in square brackets. The whole code is
      enclosed in curly brackets.
    </p>
    <p>
      JSON structure is as simple Javascript object structure, So it's very easy
      to understand.
    </p>
    <h2>What is YAML?</h2>
    <p>
      YAML is a human-readable data-serialization language. It is commonly used
      for configuration files and in applications where data is being stored or
      transmitted.
    </p>
    <p>
      The YAML structure is very easy to use.
    </p>
    <p>
      The attributes that are
      objects (key-value pairs).
    </p>
    <p>The whole YAML is structured to obtain a hierarchal or tree structure.</p>
    <h2>Why do you need JSON to YAML tool?</h2>
    <h3>To efficiently convert JSON format data to YAML:</h3>
    <p>
      Nowadays programs are not written by single person on a single format so
      we need JSON to YAML or vice versa helps you to convert your file to
      another format efficiently.
    </p>
    <p>
      In future, you may come up with a file with needs to be used in a programs
      that supports another formats. So our, converters will come into play.
    </p>
    <p>
      if program does not support some formats then again we have to rewrite.
       So just use our tools for conversation,
    </p>
    <h3>To get dual results:</h3>
    <p>
      Our tools will help in converting the data from JSON to YAML or YAML to JSON and save the human efforts with just one click
    </p>
    <p>&nbsp;</p>
  </div>
  <div>
    <app-sb-related-tools></app-sb-related-tools>
  </div>
</div>
