footer {
  box-sizing: border-box;
  background-color: rgb(212, 224, 224);
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  text-align: center;
}

.flex-item {
  padding: 5px;
  flex: 33%;
}

.flex-links {
  display: flex;
  flex-direction: column;
}

.flex-links > a {
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 13px;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}