<footer>
  <div class="flex-container">
    <div class="flex-item">
      <div class="flex-links">
        <a routerLink="/online-rar-extractor/" title="RAR Extractor"
          >RAR Extractor</a
        >
        <a
          routerLink="pdf-password-remover/"
          title="PDF Password Remover"
          >PDF Password Remover</a
        >
        
      </div>
    </div>
    <div class="flex-item">
      <div class="flex-links">
        <a routerLink="/xml-formatter/" title="XML Formatter"
          >XML Formatter</a
        >
        <a routerLink="/json-formatter/" title="JSON Formatter"
          >JSON Formatter</a
        >
        <a routerLink="/yaml-formatter/" title="YAML Formatter"
          >YAML Formatter</a
        >
      </div>
    </div>
    <div class="flex-item">
      <div class="flex-links">
        <a
          routerLink="/json-to-xml-convertor/"
          title="JSON to XML Convertor"
          >JSON to XML Convertor</a
        >
        <a
          routerLink="/json-to-yaml-convertor/"
          title="JSON to YAML Convertor"
          >JSON to YAML Convertor</a
        >
        <a
          routerLink="/yaml-to-json-convertor/"
          title="YAML to JSON Convertor"
          >YAML to JSON Convertor</a
        >
        <a
          routerLink="/xml-to-json-convertor/"
          title="XML to JSON Convertor"
          >XML to JSON Convertor</a
        >
        
        
      </div>
    </div>
  </div>
</footer>

