<app-sb-heading [title]="title" [subtitle]="subtitle"></app-sb-heading>

<div class="tool">
  <div class="tool__workarea" id="workArea">
    <div id="dropArea"></div>
    <div class="">
      <div>
        <label for="file1" class="file-upload">
          <button class="btn uploader__btn">Select PDF file</button>
          <input id="file1" type="file" multiple />
        </label>
        <div class="box-placeholder my-drop-zone">or drop PDF here</div>
      </div>
    </div>
  </div>
</div>

<div class="grid-container text-container">
  <div class="">
    <h2 id="what-is-xml">What is PDF?</h2>
    <p>
      Portable Document Format, standardized as ISO 32000, is a file format
      developed by Adobe in 1992 to present documents, including text formatting
      and images, in a manner independent of application software, hardware, and
      operating systems.
    </p>

    <h3>Pick a PDF document to open</h3>
    <p>
      Select the PDF to open: transfer the PDF eliminate secret word record or
      documents from your PC. You can likewise drop documents straightforwardly
      from your PC. Simplified PDF documents into the container from your PC to
      start to eliminate secret phrase and open PDF.<br />
    </p>
    <h3>Open the PDF secret file</h3>
    <p>
      Enter and utilize the secret word that was made to limit admittance to the
      PDF record. On the off chance that the secret word you entered matches the
      one made to lock the record, the PDF will open and eliminate all
      limitations to the document. You can then access the PDF record
      uninhibitedly.<br />
    </p>
    <h3>View and download</h3>
    <p>
      Once your file has been unlocked and the PDF password has been entered,
      access the file or files by: downloading to your computer, viewing the PDF
      in your browser<br />
    </p>
  </div>
  <div>
    <app-sb-related-tools></app-sb-related-tools>
  </div>
</div>
