.tool {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    overflow: auto;
    overflow-x: hidden;
}


.tool__workarea {
    text-align: center;
    height: 100%;
    padding: 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex: 1 1;
    flex: 1 1;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

tool__header {
    padding: 6px 24px 30px;
}

.tool__header__title {
    font-size: 42px;
    letter-spacing: 0;
    font-weight: 600;
    color: #383e45;
    margin-bottom: 8px;
    line-height: 46px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.tool__header__subtitle {
    max-width: 800px;
    font-size: 22px;
    font-weight: 400;
    color: #383e45;
    letter-spacing: 0;
    margin: 0 auto 8px;
    line-height: 32px;
}


.uploader__btn.active {
    background-color: #17a2b8;
}

.uploader__btn {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 80px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #17a2b8;
    padding: 24px 56px;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    vertical-align: middle;
    color: #fff;
    text-decoration: none;
    margin-bottom: 12px;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
    border-radius: 8px;
    -webkit-box-shadow: 0 3px 6px 0 rgb(0 0 0 / 14%);
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 14%);
    -ms-flex-order: 1;
    order: 1;
    max-width: 60vw;
}

.uploader__btn.active:hover {
    background-color: #161616;
}

.file-upload [type="file"] {
    min-height: 100%;
    margin-left: -294px;
    min-width: 23%;
    opacity: 0;
  }

  a, a :hover{
text-decoration: none;
  }